# Archivos de bytes de Python (No se deben subir)
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales (Si usan venv)
venv/
.venv/
env/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Configuración de editores de código
.vscode/
.idea/